*{  
  box-sizing: border-box;
}

body{ 
  margin: 0;
  /* font-family: sans-serif; */
  background: radial-gradient(circle,rgb(238, 238, 238),hsl(0, 0%, 98%)) ;  
}

.banner {
  text-align: center;
}

.banner h1 {
  font-size: 3em;  
  color:#454546;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 3px rgb(0 0 0 / 26%);
  text-transform: uppercase;
  margin: 0;
} 

/* slider */
.slider{
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  /* height: 40em; */

  animation: cambio 20s infinite alternate;
  animation-timing-function: ease-out;
}

.slider li{
  width: 100%;
  list-style:none;
  
}

.slider img{ 
  background-size: cover;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

@keyframes cambio{
  0% { margin-left:0;}
  20% { margin-left:0;}

  25% { margin-left: -100%;}
  45% { margin-left: -100%;}

  50% { margin-left: -200%;}
  70% { margin-left: -200%;}
  
  75% { margin-left: -300%;}
  100% { margin-left: -300%;}
}


.container {
  height: 65px;
  background: #335EB5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float:left;  
}

/* para moviles */
[class*="col-"] {
  width: 100%;
}

.menu {
  text-align: center;
  margin-bottom: 1em;
}

.item-options {
  color: #f1f1f1;
  margin: 0 1.5rem;
  text-decoration: none;
}


.logo{
  width: 45px;
  margin: 0;
}

.logo img {
  width: 100%;
}

.main-container .imagen{
  width: 60px;
  height: 75px;
  /* border: 1px solid; */
}


.busqueda {
  padding-top: 6px;
}

.buscar {
  margin-top: 6px;
  padding: 6px 14px;
  font-size:16px;
  border-radius: 6px;
  word-wrap: normal;
}

.gallery-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px,1fr));
  row-gap:10px;
  column-gap: 5px;
}

.card {
  display: flex; 
  flex-direction: row;
  /* border: 1px solid rgba(0, 0, 0, 0.158); */
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 8px 0 rgba(0,0,0,.12);
}

.item {
  height: 11em;
  width: 35%;  
}

.item img{
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  
}

.descripcion {
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
  width: 65%;
  padding-left: 11px;
  /* padding-top: 8px;  */
}

.marca { 
  color: #D54733;
}

/* PAGINACION DE LOS CARDS DE PRODUCTOS */
.pagination{ 
  padding: 15px;
  text-align: center;
}

.pagination div {
  display: inline-block; 
  margin: 0 10px;
}

.pagination .page{
  color: gray;
}

.pagination .prev,.pagination .next {
  color:#000;
  border:1px solid #000;
  font-size: 15px;
  padding: 7px 15px;
  cursor: pointer;
}

.pagination .prev.disabled,
.pagination .next.disabled{
  border-color: gray;
  color: gray;
  pointer-events: none;
}

.gallery-items .card.hide {
  display: none;
  
}

.gallery-items .card.show {  
  animation: show .5s ease; 
}

.footer {
  background-color: #335EB5;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding:15px;
}


/* ****************** **************************************************/
/* ****************** ESTILOS PARA MODAL DETALLE PRODUCTO **************/
.modal-container {
  display: flex;
  background-color: rgba(0,0,0 ,0.6);
  align-items: center;
  justify-content: center;
  position: fixed; 
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal {
  /* display: flex;
  flex-direction: column; */
  background-color: #fff;
  /* height: 50vh; */
  height: 530px;
  width: 700px; 
  max-width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0 ,0.2);
  /* text-align: center; */
}

.btn-detalle{
  margin-left: 48.6%;
  width: 50%;
  border: 1px solid #1451d4;  
  border-radius: 2px;
  background-color: #fff;
  cursor: pointer;
}

.btn-cerrar-detalle {
  width:25%; 
  margin-left:37.5%;
  font-weight: bold;
  padding: 3px;
  border-color: rgb(241, 72, 60);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(238, 40, 26);
}

.detalle-caracteristicas{
  display: flex;  
  flex-wrap: wrap; 
  background-color: #faf9f9;
  height: 100%;
  width: 350px;
  font-size: 15px;  
  
}

.detalle-caracteristicas > b {  
  flex: 30%;
}
.detalle-caracteristicas > label {  
  flex: 70%;
  margin-bottom: 10px;

}


.detalle-content {
  display: flex;
  height: 95.5%;
}


.detalle-fotos {
  width: 100%; 
  height: 460px; 
  object-fit: contain;
}


.mySlides {
  display: none;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  height: 100%;
  width: 350px;
  max-width: 1000px;
  position: relative;
  /* margin: auto; */
}

/* Next & previous buttons */
.prev-detalle, .next-detalle {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(190, 190, 190, 0.74);
}

/* Position the "next button" to the right */
.next-detalle {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-detalle:hover, .next-detalle:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.2s;
  animation-name: fade;
  animation-duration: 0.2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 580px) {
  .prev, .next,.text {font-size: 11px}  

  .detalle-content {
    display: block;
  }

  .slideshow-container { 
    width: 100%;
    height: 200px;
    /* margin: auto; */
  }

  .detalle-caracteristicas{
    height: auto;
    width: 100%;
  }

  .detalle-fotos {
    height: 200px; 
    object-fit: contain;
  }
}

/* *********************************************************** */

@keyframes show {
  0%{
    opacity:0;
    transform: scale(0.9);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 75%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .slider ul {
    height: 43em;   
  }

 
}




